.navbar-toolbar {
  gap: 20px;
  background: #1b2a41;
}

.navbar-title {
  color: #ccc9dc !important;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 2rem;
  z-index: 10;
}

.navbar-button {
  color: #ccc9dc;
  font-weight: 500;
  transition: background 0.2s, color 0.2s;
  border-radius: 6px;
  padding: 6px 18px;
  font-family: 'Poppins', Arial, sans-serif;
}

.navbar-button:hover {
  background: #324a5f;
  color: #fff;
}